.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 370px;
  max-height: 400px;
  position: absolute;
  top: 20%;
  left: 2%;
  border: 8px solid black;
  border-radius: 15px;
  font-weight: bolder;
  background-image: linear-gradient(180deg, lightblue, lightblue, purple);
}
.container > * {
  flex: 1 1 110px;
}
#numberBox {
    /* max-height: 100px; */
    text-align: right;
    height:50px;
    font-size: 25px;
    max-width: 200px;
    border-radius: 5px;
}
#resetButton {
  background-color: red;
  max-width: 47%;
}
#resetButton:hover {
    background-color: transparent;
}
.container .numButtons, .operatorButtons, .equalbutton, .memoryclearbutton, .memorysavebutton, .memoryRecallbutton  {
    row-gap: 10px;
    justify-content: center;
    background-color: darkturquoise;
    border-radius: 5px;
    padding: 9px;
    font-weight: bolder;
    font-size: large;
}
.numButtons:hover, .operatorButtons:hover, .equalbutton:hover, .memoryclearbutton:hover, .memorysavebutton:hover, .memoryRecallbutton:hover  {
   background-color: transparent ;
}
body {
    background-color: whitesmoke;
}

