.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 330px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 40%;
  border: 8px solid black;
  border-radius: 15px;
  font-weight: bolder;
  background-color: greenyellow;
}

.container > * {
  flex: 1 1 110px;
}

#clearButton {
  flex-grow: inherit;
  background-color: red;
}

.numButtons, .operatorButtons, .equalbutton, .memoryclearbutton, .memorysavebutton, .memoryRecallbutton  {
    row-gap: 10px;
    background-color: aqua;
}

body {
    background-color: navy;
}