.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 370px;
  height: 400px;
  position: absolute;
  top: 20%;
  left: 40%;
  border: 8px solid black;
  border-radius: 15px;
  font-weight: bolder;
  background-image: linear-gradient(180deg, lightblue, lightblue, purple);
}

.container > * {
  flex: 1 1 110px;
}

#numberBox {
    max-height: 50px;
    text-align: right;
}

#resetButton {
  background-color: red;
  max-width: 25%;
}

.container .numButtons, .operatorButtons, .equalbutton, .memoryclearbutton, .memorysavebutton, .memoryRecallbutton  {
    row-gap: 10px;
    justify-content: center;
    background-color: darkturquoise;
    border-radius: 5px;
    padding: 9px;
    font-weight: bolder;
    font-size: larger;
    

}
.numButtons:hover, .operatorButtons:hover, .equalbutton:hover, .memoryclearbutton:hover, .memorysavebutton:hover, .memoryRecallbutton:hover  {
   background-color: transparent ;

}


body {
    background-color: whitesmoke;
}

